home{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
nav{
  width: 96%;
  height: 100px;
  line-height: 90px;
  padding: 0px 10px;
  position:fixed;
  background-image: linear-gradient(#0D508BC2,#0E4B75A3);
 
}
nav .logo p{
  font-size: 40px;
  font-weight: bold;
  float: left;
  color: papayawhip;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  
}
nav ul{
  float: right;
  
}
nav li{
  display: inline-block;
  list-style: none;
}
nav li a{
  font-size: 25px;
  text-transform: uppercase;
  padding: 10px 20px;
  color: black;
  text-decoration-line: none;
 
}
nav li a:hover{
  color: #02B5B0;
  transition: all 0.4s ease 0s;
  
}

body{
 
  background-image: url("HARAP NG DAGAT.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}
h1{
  color: #081452BD;
  text-align: center;
  font-size: 5em;
  margin: 3px;
  padding: 100px;
}


p{ 
  text-align: center;
  color: #121214;
  font-size: 4em;
  
}  
